header{
	li{
		list-style: none;
		display:inline-block;
		padding-left:13%;
		padding-top:2%;
	} 
	a{
		color:white;
	}
	h2{
		text-align:center;
		color:white;
  		font-family:cursive;
  		margin-top:10%;
  		font-size:100px;
	}
	.capa {
	width:100%;
	height:80vh;
	background-color:rgba(0,0,0,0.2);
}
	background-image:url("../img/nat.jpg");
	@include modulo(fixed, no-repeat, center center);
	background-size:cover;
	min-height: 80vh;
}
h1 {
  position: relative;
  text-align: center;
}

h1 span {
  background: #fff;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

h1:before {
  background: black;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
  width: 100%;
}

h1:before {
  left: 0;
}

p{
text-align:center;
margin-top:20%;
}

.linea{
	text-align:center;
}

.habilidades{
	text-align:center;
	img{
		margin-top:10%;
		margin-bottom:5%;
	}
}

.mis-trabajos{

}


